* {
  box-sizing: border-box;
}

.App {
  max-width: 768px;
  margin: auto;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
  position: fixed;
  z-index: 999;
  background-color: rgb(7, 7, 49);
  height: 55px;
  top: 0;
  margin-bottom: 25px;
  width: 100%;
}

.header-img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 8px;
}

.main-content {
  max-width: 97%;
  margin: 30px auto;
}

.pagination {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.search-form {
  max-width: 768px;
  margin: auto;
  margin-top: 75px;
}

.disabled {
  color: lightgray;
}

.container-details {
  display: flex;
  flex-direction: row;
}

.card-container {
  margin: auto;
}

.card-img {
  display: flex;
  justify-content: center;
  align-self: center;
}

.card-text {
  margin-bottom: 8px;
}

.row-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-load {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.card-elemet {
  width: 100%;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: rgb(92, 89, 89);
  font-size: 14px;
  background-color: rgb(219, 217, 217);
  text-align: center;
  height: 33px;
  padding-top: 5px;
}
